*
{
    padding: 0;
    margin: 0;
}

/**************** Font settings ******************/

@font-face
{
font-family: "Raleway";
src:  
        url(Raleway-VariableFont_wght.ttf),
        url(Raleway-Italic-VariableFont_wght.ttf);
        
}
*
{
    font-family: 'Raleway', sans-serif;
}

/*************** Nav bar settings *******************/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
nav a
{
    text-decoration: none;
}
.nav_link_hebergement
{
    margin-right: 50px;
    color: #0065FC;
}
.nav_link_activite
{
    color:grey;
    margin-right: 10px;
}
a:hover
{
    border-top: solid 3px #0065FC;
    padding: 55px;
}

/***************** description ********************/
#description
{
    max-width: 500px;
    margin-left: 10px;
}
#main_title
{
    font-size: 8px;
    font-weight: bold;
    margin-bottom: 10px;
}
#subtitle
{
    font-size: 12px;
    color:grey;
}

/*************** research bar *******************/
#search_bar
{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}
#research
{
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40px;
    width: 100px;
    border: none;
    color: white;
    font-weight: bold;
}
#town
{
    min-height: 36px;
    width: 200px;
    border: solid 1px grey;
    font-weight: bold;
}
#search-icon
{
    color: black;
}

/********************** filter **************************/
#filter
{

    display: flex;
    justify-content: space-between;
    width: 900px;
    padding-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}
#filter-title
{
    padding-top: 12px;
    margin-right: 5px;
}
#filter .fas
{
  color: #0065FC;
  padding-right: 15px;
}
.filter-button
{
    border: solid 1px black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    padding-right: 8px;
    height: 30px;
    padding-top:12px;
    
}


/************************ Marseille houses **********************************/
#house_main_title
{
    font-weight: bold;
    padding-top: 150px;
    padding-left: 10px;
}
.card
{
   /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 700px;
    background-color:#999999;
    padding-left: 10px;
    padding-top: 10px;
}
.card a
{
    text-decoration: none;
}
.card a:hover
{
    pointer-events: none; /* Disable hover action*/
    text-decoration: none;
}
.item-container
{
    margin-right: 20px;
    padding-top:5px;
    padding-left:5px;
    width:215px ;
    height:190px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.house_picture 
{
    object-fit: cover;
    width: 210px;
    height: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container h4
{
    font-weight: bold;
    color:black;
}
.container p
{
    color:grey;
}
.notation
{
    color:#0065FC;
}
.popular_main_title
{
    font-weight: bold;
    padding-left: 10px;
}
.popular_card
{
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 230px;
    height: 800px;
    background-color:#999999;
    padding-left: 10px;
    padding-top: 10px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 700px;
    background-color:#999999;
    padding-left: 10px;
    padding-top: 10px;
}
.popular_card a
{
    text-decoration: none;
}
.popular_card a:hover
{
    pointer-events: none; /* Disable hover action*/
    text-decoration: none;
}
.activity_main_title
{
    font-weight: bold;
    padding-top: 50px;
    padding-left: 10px;
}
.hebergement_popular
{
    display: flex;
}
.activity
{
    display: flex;
    background-color:#999999;
}
.activity a
{
    text-decoration: none;
}
.activity a:hover
{
    pointer-events: none;
    text-decoration: none;
}